@import '../Table.module';

.table_header {
    background-color: rgba(215, 228, 238, 1);
    height: 35px;
    tr {
        th {
            text-align: center;
        }
        th:nth-child(1), th:nth-child(2) {
            @extend .width_cell_1_2;
        }
        th:nth-child(3) {
            @extend .width_cell_3;
        }
        th:nth-child(4) {
            @extend .width_cell_4;
        }
        th:nth-child(5), th:nth-child(6), th:nth-child(7) {
            @extend .width_cell_5_6_7;
        }
        th:nth-child(8) {
            @extend .width_cell_8;
        }
        th:nth-child(9) {
            @extend .width_cell_9;
            text-align: left;
            span {
                margin-left: 18px;
            }
        }
        th:nth-child(10) {
            @extend .width_cell_10;
        }
    }
}