.navbar {
  width: 272px;
  height: 796px;
  background-color: rgba(21, 36, 50, 1);
  padding-top: 23px;
  padding-left: 45px;

  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.07em;
  text-align: left;
  color: rgba(215, 228, 238, 1);
}