.App {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  color: rgba(22, 40, 67, 1);

  width: 1920px;
  height: 819px;

  display: flex;
}